.main{
  width: 100%;
  background-color: aqua;
  padding: 30px;
  text-align: center;
  margin-top: 10px;
 .link{
  color: red;
  letter-spacing: 25px;
  font-weight: 600;
  text-decoration: none;
  font-size: 32px;
 }
}